# ASP.NET backend
/backend/Intex.API/bin/
/backend/Intex.API/obj/
/backend/Intex.API/*.user
/backend/Intex.API/*.suo
/backend/Intex.API/.vs/
/backend/Intex.API/*.log
# /backend/Intex.API/*.sqlite
# /backend/Intex.API/Identity.sqlite-shm
**/.env*

# React frontend
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.env*
/frontend/coverage/
/frontend/*.log
/frontend/.vscode/
/frontend/.DS_Store
/frontend/*.tsbuildinfo

.vs/
# Ignore SQLite runtime files
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal


*/node_modules/

