body {
  background: #2b183f;
  background: linear-gradient(#1f2235, #6411ad);
  color: #2b183f ;
}

.btn-purple {
  background-color: #c700ff !important;
  border-color: #c700ff !important;
  color: #fff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-purple:hover {
  background-color: #6411ad !important;
  border-color: #6411ad !important;
  transform: translateY(-2px);
}

.social-icon {
  font-size: 1.5rem;
  color: #c700ff;
  cursor: pointer;
  transition:
    transform 0.2s,
    color 0.2s;
}

.social-icon:hover {
  color: #6411ad;
  transform: scale(1.2);
}

.card-body {
  min-width: 400px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
